@charset "UTF-8";

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-treinos-personalizados {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1400px;
    width: 90%;
    height: 570px;
    margin-top: 40px;
}

#section-treinos-personalizados img {
    width: 45%;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

#container-treinos-personalizados {
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.paragraph-treinos-personalizados {
    width: 100%;
    color: #4b5563;
    margin-top: 10px;
}

#container-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-treino-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-list i {
    background-color: #00377B;
    padding: 7px;
    border-radius: 20px;
    color: #fff;
}

#container-beneficios {
    background-color: #E5EBF2;
    max-width: 1300px;
    width: 90%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 30px 30px 0px 30px;
}

#container-beneficios h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: -20px;
}

#container-beneficios h2 {
    font-size: 16px;
}

.cards {
    display: flex;
    gap: 20px;
    word-wrap: wrap;
    margin-bottom: -20px;
}

.card {
    width: 40%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: #fff;
}

.icons-beneficios {
    background-color: #E5EBF2;
    color: #00377B;
    height: 45px;
    width: 45px;
    border-radius: 30px;
    padding: 11px;
}

#button-modalidades-section {
    margin: 60px 0px 60px 0px;
}

@media (max-width: 1300px) {
    #section-treinos-personalizados {
        flex-direction: column;
        margin-top: 320px;
        margin-bottom: 200px;
    }

    #section-treinos-personalizados img {
        width: 80%;
    }

    #container-treinos-personalizados {
        width: 80%;
    }

    #container-list {
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    #section-treinos-personalizados {
        margin-top: 280px;
    }

    #container-cards {
        width: 100%;
    }

    .cards {
        flex-direction: column;
        width: 100%;
        
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    #section-treinos-personalizados img {
        width: 95%;
    }

    #container-treinos-personalizados {
        width: 90%;
    }

    #container-beneficios {
        padding: 30px 10px 0px 10px;
    }
}
