@charset "UTF-8";

#a-nome:hover {
    color: #0055B8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#title-section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#container-title-section {
    background-color: #e5ebf2;
    width: 100%;
    height: 170px;
    margin-top: 90px;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #1f2937;
}

#title-section-line {
    display: flex;
    gap: 10px;
}

#title-section-line a {
    color: #00377B;
}

#title-section-line a:hover {
    color: #2F73C4;
}

p {
    color: #4b5563;
}

#modalidades-section {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-modalidades {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

#paragraph-title {
    color: #00377B;
    background-color: #E5EBF2;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}

#container-modalidades h1 {
    width: 600px;
    text-align: center;
}

.paragraph {
    max-width: 850px;
    text-align: center;
    color: #4b5563;
    margin-top: 10px;
}

#container-cards {
    display: flex;
    padding: 0px 10px 60px 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px ;
    gap: 40px;
}

.card {
    width: 100%;
    max-width: 1300px;
    height: 430px;  
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.card img {
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#img-card-2 {
    width: 50%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#card-text {
    width: 50%;
    padding: 40px 40px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#card-text h3 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #1f2937;
}

#card-text-list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.item-text-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-text-list svg {
    background-color: #E5EBF2;
    padding: 7px;
    border-radius: 20px;
    color: #0D4082;
}

#button-modalidades-section {
    width: 300px;
    height: 55px;
    margin-top: 20px;
}

@media (max-width: 890px) {
    .card {
        flex-direction: column;
        height: auto;
    }

    #card-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .card img {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }

    #img-card-2 {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #card-text {
        width: 100%;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 30px;
    }

    #container-modalidades h1, #paragraph {
        width: 90%;
    }
}

@media (max-width: 400px) {
    #container-title-section {
        padding-right: 20%;
    }

    #card-text {
        width: 100%;
    }
}

@media (max-width: 500px) {
    #container-title-section {
        padding-right: 20%;
    }

    .card {
        width: 100%;
    }
    
    #card-text {
        width: 100%;
    }
}

@media (max-width: 1400px) {
    .card {
        width: 90%;
    }   
}